<launch>
  <!-- Arguments for the included launch file -->
  <arg name="blob_file_path" default="$(find mercator_sensor_fusion_ros_pkg)/src/mercator_sensor_fusion_ros_pkg/models/detect_all.blob"/>
  <arg name="json_file_path" default="$(find mercator_sensor_fusion_ros_pkg)/src/mercator_sensor_fusion_ros_pkg/models/detect_all.json"/>
  <arg name="visualize" default="false"/>
  <arg name="publish_frames" default="True"/>
  <arg name="oak" default="/oak"/>
  <arg name="oak_frames" default="/oak_frames"/>
  <arg name="cam_poses" default="/cam_poses"/>

  <!-- Include the other launch file -->
  <include file="$(find mercator_sensor_fusion_ros_pkg)/launch/base_launch_files/camera_detector.launch">
    <arg name="blob_file_path" value="$(arg blob_file_path)" />
    <arg name="json_file_path" value="$(arg json_file_path)" />
    <arg name="visualize" value="$(arg visualize)" />
    <arg name="publish_frames" value="$(arg publish_frames)" />
    <arg name="oak" value="$(arg oak)" />
    <arg name="oak_frames" value="$(arg oak_frames)" />
    <arg name="cam_poses" value="$(arg cam_poses)" />
  </include>
</launch>
