<launch>
  <!-- Node launching -->
  <node pkg="mercator_sensor_fusion_ros_pkg" type="camera_detector" name="camera_detector" output="screen">
    <!-- Parameters -->
    <param name="blob_file_path" value="$(find mercator_sensor_fusion_ros_pkg)/path/to/blob_file.blob" />
    <param name="json_file_path" value="$(find mercator_sensor_fusion_ros_pkg)/path/to/config.json" />
    <param name="visualize" value="true" />

    <!-- Topic remappings -->
    <!-- <remap from="oak" to="/output_oak" />
    <remap from="oak_frames" to="/output_oak_frames" />
    <remap from="cam_poses" to="/output_cam_poses" /> -->
  </node>

  <!-- Argument definitions -->
  <!-- <arg name="blob_file_path" default="$(find your_package_name)/path/to/blob_file.blob" />
  <arg name="json_file_path" default="$(find your_package_name)/path/to/config.json" />
  <arg name="visualize" default="false" /> -->
</launch>
