<launch>  
  <arg name="robot_frame_id_name" default="robot"/>

  <include file="$(find mercator_sensor_fusion_ros_pkg)/launch/base_launch_files/rotate_laser_scan.launch">
    <arg name="rotation_angle_in_radians" value="3.14159"/>
    <arg name="rotated_scan" value="/corrected_scan"/>
  </include>

  <include file="$(find mercator_sensor_fusion_ros_pkg)/launch/base_launch_files/lidar_detector.launch">
    <!-- Optionally override arguments here -->
    <arg name="camera_fov_deg" value="95"/>
    <arg name="camera_resolution" value="256"/>
    <arg name="detection_method" value="fully_assisted_detection"/>
    <arg name="visualize" value="false"/>
    <arg name="clustering_distance_threshold" value="0.15"/>
    <arg name="clustering_min_points" value="2"/>
    <arg name="clustering_max_points" value="30"/>
    <arg name="camera_poses_topic" value="custom_cam_poses"/>
    <arg name="fully_assisted_detection_distance_threshold" value="0.5"/>
    <arg name="oak" value="/oak"/>
    <arg name="scan" value="/corrected_scan"/>
    <arg name="lidar_poses" value="/lidar_poses"/>
    <arg name="detected_robots" value="/detected_robots"/>
  </include>

  <!-- Including the base launch file with parameters -->
  <include file="$(find mercator_sensor_fusion_ros_pkg)/launch/base_launch_files/odometry_corrector.launch">
    <arg name="frame_id" value="odom"/>
    <arg name="child_frame_id" value="$(arg robot_frame_id_name)"/>
    <arg name="rvr_imu" value="/rvr/imu"/>
    <arg name="imu" value="/imu"/>
    <arg name="rvr_odom" value="/rvr/odom"/>
    <arg name="rvr_odom_correct" value="/rvr/odom/correct"/>
  </include>

  <include file="$(find mercator_sensor_fusion_ros_pkg)/launch/pose_republishers/pose_republisher_rvr_1.launch">
    <!-- Optionally override arguments here -->
    <arg name="fov_range" value="50"/>
    <arg name="frame_id" value="$(arg robot_frame_id_name)"/>
    <arg name="cam_poses" value="/cam_poses"/>
    <arg name="lidar_poses" value="/lidar_poses"/>
    <arg name="cam_poses_transformed" value="/cam_poses_transformed"/>
    <arg name="lidar_poses_transformed" value="/lidar_poses_transformed"/>
  </include>

  <!-- Including the base launch file with parameters -->
  <!-- <include file="$(find mercator_sensor_fusion_ros_pkg)/launch/base_launch_files/pose_transformer.launch">
    <arg name="node_name" value="pose_transformer_fusion"/>
    <arg name="new_poses_frame_id" value="$(arg robot_frame_id_name)"/>
    <arg name="frame_id" value="odom"/>
    <arg name="child_frame_id" value="$(arg robot_frame_id_name)"/>
    <arg name="cam_poses" value="/cam_poses_transformed"/>
    <arg name="lidar_poses" value="/lidar_poses_transformed"/>
    <arg name="cam_poses_odom" value="/cam_poses_odom"/>
    <arg name="lidar_poses_odom" value="/lidar_poses_odom"/>
    <arg name="tf" value="tf"/>
  </include> -->

  <include file="$(find mercator_sensor_fusion_ros_pkg)/launch/base_launch_files/pose_fusion.launch">
    <!-- Optionally override arguments here -->
    <arg name="robot_name" value= "$(arg robot_frame_id_name)"/>
    <arg name="sensors_topics" value="['cam_poses_transformed', 'lidar_poses_transformed']"/>
    <arg name="sensors_trusts" value="[false, false]"/>
    <arg name="initial_sensors_variances" value="[0.0256, 0.0196]"/>
    <arg name="keep_tracking_with_only_lidar" value="False"/>
    <arg name="sensors_number" value="2"/>
    <arg name="process_noise_factor" value="0.0001"/>
    <arg name="frequency" value="30.0"/>
    <arg name="robot_average_radius" value="0.15"/>
    <arg name="initial_velocity" value="0.0"/>
    <arg name="initial_position" value="0.0"/>
    <arg name="sensor_fusion_simple_weighted_average" value="False"/>
    <arg name="cam_poses" value="/cam_poses_transformed"/>
    <arg name="lidar_poses" value="/lidar_poses_transformed"/>
  </include>
</launch>