<launch>
    <!-- Define parameters within the lidar_detector namespace -->
    <param name="lidar_detector/camera_fov_deg" value="95" />
    <param name="lidar_detector/camera_resolution" value="256" />
    <param name="lidar_detector/detection_method" value="fully_assisted_detection" />
    <param name="lidar_detector/visualize" value="true" />
    <param name="lidar_detector/clustering_distance_threshold" value="0.15" />
    <param name="lidar_detector/clustering_min_points" value="2" />
    <param name="lidar_detector/clustering_max_points" value="30" />
    <param name="lidar_detector/camera_poses_topic" value="cam_poses_transformed" />

    <!-- Specify the node to be launched -->
    <node pkg="mercator_sensor_fusion_ros_pkg" type="lidar_detector" name="lidar_detector" output="screen">
        <!-- Remap topics if necessary -->
        <remap from="oak" to="oak" />
        <remap from="scan" to="scan" />
        <remap from="lidar_poses" to="lidar_poses" />
        <remap from="~detected_robots" to="~detected_robots" />
    </node>
</launch>

<!-- <launch>
    <group ns="lidar_detector">
        <param name="camera_fov_deg" value="95" />
        <param name="camera_resolution" value="256" />
        <param name="detection_method" value="standalone_euclidean_clustering" />
        <param name="visualize" value="true" />
        <param name="clustering_distance_threshold" value="0.15" />
        <param name="clustering_min_points" value="2" />
        <param name="clustering_max_points" value="30" />
        <param name="camera_poses_topic" value="camera_poses" />

        <node pkg="mercator_sensor_fusion_ros_pkg" type="lidar_detector" name="lidar_detector" output="screen">
            <remap from="oak" to="oak" />
            <remap from="scan" to="scan" />
            <remap from="lidar_poses" to="lidar_poses" />
            <remap from="~detected_robots" to="~detected_robots" />
        </node>
    </group>
</launch> -->
