<launch>
  <!-- Node launching -->
  <node pkg="mercator_sensor_fusion_ros_pkg" type="pose_transformer" name="pose_transformer" output="screen">
    <!-- Parameters -->
    <!-- <param name="transformation_matrix_cam" value="1.0 0.0 0.0 0.0 1.0 0.0" />
    <param name="transformation_matrix_lidar" value="1.0 0.0 0.0 0.0 1.0 0.0" /> -->
    
    <!-- Topic remappings -->
    <!-- <remap from="cam_poses" to="/input_cam_poses" />
    <remap from="lidar_poses" to="/input_lidar_poses" />
    <remap from="cam_poses_odom" to="/output_cam_poses_odom" />
    <remap from="lidar_poses_odom" to="/output_lidar_poses_odom" /> -->
  </node>
</launch>
