<launch>
    <!-- Arguments for remapping topics -->
    <arg name="experiment_bag_path" default="/home/said/fxpbags/rvr1/rwrvr1_stand_test1_false_corr_synced.bag" />
    <arg name="ground_truth_bag_path" default="/home/said/fxpbags/tracking/trackrw_synced_rvr1_ground_truth.bag" />
    <arg name="fused_poses_topic" default="/fused_poses" />

    <!-- Node to calculate cost between poses -->
  <node pkg="mercator_sensor_fusion_ros_pkg" type="cost_between_poses" name="cost_between_poses" output="screen">
    <param name="experiment_bag_path" type="string" value="$(arg experiment_bag_path)" />
    <param name="ground_truth_bag_path" type="string" value="$(arg ground_truth_bag_path)" />
    <param name="fused_poses_topic" type="string" value="$(arg fused_poses_topic)" />
    </node>
</launch>
