 <launch>   
  <!-- Arguments -->
  <arg name="transform_matrix_lidar" value="[[ 0.99926541, -0.03832295,  0.01074011],
                                          [ 0.03832295,  0.99926541,  0.0499875 ],
                                          [ 0.0       ,  0.0        , 1.0        ]]"/>

  <arg name="transform_matrix_cam" value="[[ 0.99995743, -0.00922737, -0.02399254],
                                          [ 0.00922737,  0.99995743, -0.01189941],
                                          [ 0.0        ,  0.0        , 1.0        ]]"/>

  <arg name="frame_id" default="base_link_31"/>
  <arg name="cam_poses" default="/cam_poses"/>
  <arg name="lidar_poses" default="/lidar_poses"/>
  <arg name="cam_poses_transformed" default="/cam_poses_transformed"/>
  <arg name="lidar_poses_transformed" default="/lidar_poses_transformed"/>
  <arg name="fov_range" default="50"/>

  <include file="$(find mercator_sensor_fusion_ros_pkg)/launch/base_launch_files/pose_array_republisher.launch">
    <!-- Optionally override arguments here -->
    <arg name="transform_matrix_cam" value="$(arg transform_matrix_cam)"/>
    <arg name="transform_matrix_lidar" value="$(arg transform_matrix_lidar)"/>
    <arg name="frame_id" value="$(arg frame_id)"/>
    <arg name="cam_poses" value="$(arg cam_poses)"/>
    <arg name="lidar_poses" value="$(arg lidar_poses)"/>
    <arg name="cam_poses_transformed" value="$(arg cam_poses_transformed)"/>
    <arg name="lidar_poses_transformed" value="$(arg lidar_poses_transformed)"/>
    <arg name="fov_range" value="$(arg fov_range)"/>
  </include>
</launch>